body {
  background-image: url(/photo/背景.jpg);
  background-size: 100%;
}

input {
  padding-left: 10px;
  outline: none;
}

#musicApp {
  text-align: center;
}

#allPanel {
  margin-top: 40px;
  display: inline-block;
  width: 800px;
  background-color: rgb(107, 103, 103);
}

#playSearchPanel {
  text-align: justify;
  width: 800px;
  background-color: rgb(120, 187, 241);
  height: 50px;
  position: relative;
}

#musicIconSpan {
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

#musicIcon {
  height: 30px;
  width: 30px;
}

#searchInput {
  bottom: 5px;
  position: absolute;
  margin-left: 350px;
  background-color: rgb(151, 187, 228);
  height: 30px;
  width: 300px;
  border-radius: 20px 0px 0px 20px;
  /* margin-top: 1px; */
}

#searchIcon {
  background-color: rgb(151, 187, 228);

  bottom: 5px;
  border: 2px solid black;
  border-radius: 0 20px 20px 0px;
  border-left: 0px;
  margin-left: 665px;
  height: 32px;
  width: 30px;
  position: absolute;
}