html {
  overflow: hidden;

}

body {
  background-image: url(/photo/背景.jpg);
  background-size: 100%;
}

input {
  padding-left: 10px;
  outline: none;
}

#musicApp {
  text-align: center;
}

#allPanel {
  margin-top: 40px;
  display: inline-block;
  width: 800px;
  background-color: rgb(158, 107, 107);
}

#playSearchPanel {
  text-align: justify;
  width: 800px;
  background-color: rgb(29, 65, 95);
  height: 50px;
  position: relative;
}

#musicIconSpan {
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

#musicIcon {
  height: 30px;
  width: 30px;
}

#searchInput {
  bottom: 5px;
  position: absolute;
  margin-left: 350px;
  background-color: rgb(151, 187, 228);
  height: 30px;
  width: 300px;
  border-radius: 20px 0px 0px 20px;
  /* margin-top: 1px; */
}

#searchIcon {
  background-color: rgb(151, 187, 228);

  bottom: 5px;
  border: 2px solid black;
  border-radius: 0 20px 20px 0px;
  border-left: 0px;
  margin-left: 665px;
  height: 32px;
  width: 30px;
  position: absolute;
}

ul {
  list-style: none;
}

#mainPanel {
  text-align: justify;
}

#mainPanel {
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 100%;
}

#left,
#right {
  text-align: justify;
  top: 0;
  position: absolute;
  width: 200px;
  height: 500px;
  background-color: rgb(112, 97, 79);
  overflow-y: scroll;
}

#left::-webkit-scrollbar,
#right::-webkit-scrollbar {
  width: 0;
}

#left {
  left: 0;
}



#right {
  right: 0;
}

#main {
  text-align: center;
  background-color: blanchedalmond;
  margin: 0 200px;
  height: 500px;
}

#playIcon {
  width: 15px;
  padding: 0px 10px;
}

#playUl {
  padding: 10px;
}

.playLi,
.commentLi {
  line-height: 49px;
  background-color: beige;
  border: 1px solid rgb(112, 97, 79);
  border-radius: 4px;
}



#audioDiv {
  height: 54px;
}

#audio {
  width: 800px;
  background-color: rgb(243, 244, 247);
}

#songsImgs {
  border-radius: 50%;
  margin: 100px 0px;
  width: 300px;
  height: 300px;
}


@keyframes fucks {
  from {
    transition: 0.5s ease-in
  }

  to {
    transform: rotate(360deg)
  }

}


#songsImgs {
  animation-name: fucks;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#commentUl {
  padding: 10px;
}

.commentLi {
  padding: 10px 10px;
}

#commentImg {
  vertical-align: top;
  border-radius: 50%;
  width: 50px;
}

#nickName {
  vertical-align: top;
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 0px;
  line-height: 20px;
  color: rgb(42, 161, 72);
}

#comments {
  display: inline-block;
  line-height: 20px;
  text-indent: 2em;
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
}

#mvIcon {
  width: 15px;
  float: right;
  /* padding: 20px 0px; */
}

#playLi {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



video {
  position: fixed;
 
  left: 50%;
  top: 50%;
  margin-top: -273px;
  transform: translateX(-50%);
  z-index: 990;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 980;
  background-color: rgba(0, 0, 0, 0.8);
}